# Port cho React development server
PORT=3004

# Backend API URL
REACT_APP_API_URL=http://localhost:3000

# Socket.IO Server URL (không thêm /message vào đây)
REACT_APP_SOCKET_URL=http://localhost:3000

# Tên cookie lưu authentication token
REACT_APP_AUTH_TOKEN_NAME=auth_token
